@import "tailwindcss";

:root {
	--background: oklch(0.147 0.004 49.25);
	--foreground: oklch(0.985 0.001 106.423);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-input-background: oklch(0.216 0.006 56.043);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: oklch(0.147 0.004 49.25);
		--foreground: oklch(0.985 0.001 106.423);
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}
